name = "TensorNetworkCodes"
uuid = "b317c587-d840-4e81-9857-9d906192e215"
authors = ["Terry Farrelly <farreltc@tcd.ie>", "David K. Tuckett"]
version = "0.1.0"

[deps]
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
GraphPlot = "a2cc645c-3eea-5389-862e-a155d0052231"
ITensors = "9136182c-28ba-11e9-034c-db9fb085ebd5"
LightGraphs = "093fc24a-ae57-5d10-9952-331d41423f4d"
NBInclude = "0db19996-df87-5ea3-a455-e3a50d440464"
PyPlot = "d330b81b-6aea-500a-939a-2ce795aea3ee"
Qecsim = "e6c2bad3-a74c-45bb-aaa0-aff4e9ffa0d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
StatsPlots = "f3b207a7-027a-5e70-b257-86293d7955fd"

[compat]
GraphPlot = "= 0.4.4, 0.5"
julia = "1"

[extras]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "SafeTestsets", "LinearAlgebra"]
